.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-medium-2 {
    margin-bottom: 1rem !important;
}

.u-margin-bottom-big { 
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-top-small { margin-top: -2rem !important; }
.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.u-margin-right-medium {margin-right: 9.5rem !important;}
.u-margin-left-medium {margin-left: 9.5rem !important;}
.u-margin-right-big {margin-right: 23rem !important;}